body {
  padding-top: 0px;
  background-color:#344;
}
footer, section {

}
section {
  background-color: #CDD;
  margin: 0;
}
section h1 {
  font-family:  'Titillium Web', sans-serif;
  font-weight: bold;
}
section h1 lead {
  font-weight: normal;
}
.container {
  padding-top: 1rem;
  padding-bottom:0.5rem;
}

.navbar {
  margin-bottom: 0;
}
.jumbotron {
  background-color: #CDD;
  margin-bottom: 0;
  min-height: 15rem;
}
.jumbotext {
  display: inline;
}
.lead {
  padding: 0px 1rem;
}
.album {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card {
  float: left;
  width: 26%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem;
  margin-bottom: 2rem;
  border: 1px solid #BBB;
}
.card > img {
  margin-bottom: .5rem;


}

.card-text {
  font-size: 85%;
}
.jps-image {
  display: inline;
  float:left;
  background-color: rgba(255,255,255,0.2);
  background: -webkit-radial-gradient(circle,rgba(0,0,0,.2) 35%,rgba(255,255,255,0.6) 90%);
  background: -o-radial-gradient(circle,rgba(0,0,0,.2) 35%,rgba(255,255,255,0.6) 90%);
  background: -moz-radial-gradient(circle,rgba(0,0,0,.2) 35%,rgba(255,255,255,0.6) 90%);
  background: radial-gradient(circle,rgba(0,0,0,.2) 35%,rgba(255,255,255,0.8) 90%);
  border-color: #bbb;
  box-shadow: .25rem .25rem .5rem rgba(0,0,0,.1);
}
.fa-4x:hover {
  text-decoration:none;
}
